@font-face { font-family: "FuturaOblique";
             src: url('./fonts/Futura/FuturaOblique.ttf'); }
@font-face { font-family: "FuturaCondensedBold";
             src: url('./fonts/Futura/FuturaCondensedBold.ttf'); }
@font-face { font-family: "FuturaCondExtraBoldObl";
             src: url('./fonts/Futura/FuturaCondExtraBoldObl.ttf'); }
@font-face { font-family: "FuturaBook";
             src: url('./fonts/Futura/FuturaBook.ttf'); }
@font-face { font-family: "FuturaHeavyOblique";
             src: url('./fonts/Futura/FuturaHeavyOblique.ttf'); }
@font-face { font-family: "FuturaCondensedLight";
             src: url('./fonts/Futura/FuturaCondensedLight.ttf'); }
@font-face { font-family: "FuturaHeavy";
             src: url('./fonts/Futura/FuturaHeavy.ttf'); }
@font-face { font-family: "FuturaBoldOblique";
             src: url('./fonts/Futura/FuturaBoldOblique.ttf'); }
@font-face { font-family: "FuturaBookOblique";
             src: url('./fonts/Futura/FuturaBookOblique.ttf'); }
@font-face { font-family: "Futura";
             src: url('./fonts/Futura/Futura.ttf'); }
@font-face { font-family: "FuturaCondensed";
             src: url('./fonts/Futura/FuturaCondensed.ttf'); }
@font-face { font-family: "FuturaLightOblique";
             src: url('./fonts/Futura/FuturaLightOblique.ttf'); }
@font-face { font-family: "FuturaLight";
             src: url('./fonts/Futura/FuturaLight.ttf'); }
@font-face { font-family: "FuturaBold";
             src: url('./fonts/Futura/FuturaBold.ttf'); }
@font-face { font-family: "FuturaCondensedOblique";
             src: url('./fonts/Futura/FuturaCondensedOblique.ttf'); }
@font-face { font-family: "FuturaCondensedLightOblique";
             src: url('./fonts/Futura/FuturaCondensedLightOblique.ttf'); }
@font-face { font-family: "FuturaCondensedExtraBold";
             src: url('./fonts/Futura/FuturaCondensedExtraBold.ttf'); }
@font-face { font-family: "FuturaExtraBoldOblique";
             src: url('./fonts/Futura/FuturaExtraBoldOblique.ttf'); }
@font-face { font-family: "FuturaExtraBold";
             src: url('./fonts/Futura/FuturaExtraBold.ttf'); }
@font-face { font-family: "FuturaCondensedBoldOblique";
             src: url('./fonts/Futura/FuturaCondensedBoldOblique.ttf'); }
